/* grid */
* {
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
  /* border: 1px solid red;*/
}
 /* end grid */

body{
    background-color:#448bc9;
    background-image: url(public/pictures/background.jpg);
    font-family:'Montserrat', sans-serif !important;
}
#titleBox{
    position: relative;
    background-color: #52C8FF;
    color: #FFE852;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 15px;
}
#mainBox{
    background-color: #83ff52;
    border-radius: 8px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 570px;
}
#PlayOn{
     background: -webkit-linear-gradient(top, #ff7272 0%, #dd1111 100%);
    width: 100px;
    height: 60px;
    font-size: 20px;
    border: 3px solid #d63535;
    border-radius: 8px;
     box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  
}

#PlayOn:hover{
     background: -webkit-linear-gradient(top, #ff7272 0%, #ba0707 100%);
    transition: 0.2s;
}

#play_text{
    font-size: 28px;
    font-weight: bold;
    color:#313333;
    text-shadow: 0px 1px #ff7c7c;
}

.p_guess{
    height: 80px;
    background-color: #ffe852;
    border: 5px solid #ffae52;
    border-radius: 8px;
    margin-bottom: 10px;
    padding-top: 5px;
    text-align: left;
}
.p_guess:hover{
    background-color: hotpink;
    transition: 0.2s;
}
.icon{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 10px;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
}
#title{
    font-size: 50px;
}
a{
    color: hotpink;
}
h4{
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
}
#footer{
    background-color: hotpink;
    border-radius: 8px;
    width: 80%;
    height: 400px;
    margin-top: 20px;
    margin-left: 10%;
    color: #FFE852;
    text-align: center;
}
#devs{
    margin-top: 20px;
}
p{
    padding-right: 20px;
}
/* Here starts the game page */
.game_container{
    background-color: #ffae52;
    border-radius: 8px;
    text-align: center;
	height: 570px;
}
.question_container{
    background-color: #ffe852;
    width: 90%;
    border-radius: 8px;
    min-height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 92px;
    margin-left: 5%;
    margin-top: 10px;
}
.button_container{
  text-align: center;
  display: inline;
}
.yes_button{
    background: -webkit-linear-gradient(top, #2def5a 0%, #227f35 100%);
    border: 3px solid #0b9128;
    width: 150px;
    height: 50px;
    font-size: 30px;
    border-radius: 8px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.yes_button:hover{
     background: -webkit-linear-gradient(top, #2def5a 0%, #176025 100%);
    transition: 0.2s;
}
#yes_text{
    font-size: 28px;
    font-weight: bold;
    color:#313333;
    text-shadow: 0px 1px #7ff99c;
}
.no_button{
    background: -webkit-linear-gradient(top, #ff7272 0%, #dd1111 100%);
    border: 3px solid #d63535;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    font-size: 30px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.no_button:hover{
     background: -webkit-linear-gradient(top, #ff7272 0%, #ba0707 100%);
    transition: 0.2s;
}
#no_text{
    font-size: 28px;
    font-weight: bold;
    color:#313333;
    text-shadow: 0px 1px #ff7c7c;
}
button{
    display: inline;
}

/* -- Here starts 90's --*/
.mainComputer{
    height: 570px;
    background-color: #D3D5CF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    color: #939393;
}
.screen{
    background-color: #164f57;
    height: 310px;
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
    background-image: url("/public/pictures/cara1.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.screen_img{
    max-width:300px;
    max-height:310px;
	display:block;
    margin-left: auto;
    margin-right: auto;
}
/*-- post game --*/
.guess{
    background-color: #FFE852;
    border-radius: 10px;
    width: 50%;
    display: inline-block;
}
.final-req{
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: #FFE852;
    width: 50%;
    display: inline-block;
    border-radius: 8px;
}
.img{
    margin-top: 10px;
    background-color: #448bc9;
    width: 50%;
    display: inline-block;
    border-radius: 8px;
    padding: 10px 5px 10px 5px;
} 

.textjs{
    height: 30px;
    padding-left: 5px;
    width: 300px;
    border-radius: 8px;
}

#submit_b{
    height: 30px;
    width: 80px;
    background-color: #83ff52;
}